body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/Users/arpan/calzii/src/m.jpeg');
}
.cal {
  color: white;
  text-align: center;
  padding-right: 10px;
}
.title {
  position: relative;
  font-size: 24px;
}

.title::before,
.title::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  background: linear-gradient(to right, #fff 50%, transparent 50%);
  background-size: 200% 100%;
  animation: slide 2s infinite linear;
}

.title::before {
  left: 0;
  transform: skewX(-25deg);
  transform-origin: bottom left;
}

.title::after {
  right: 0;
  transform: skewX(25deg);
  transform-origin: bottom right;
}

@keyframes slide {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}


.calculator {
  background: linear-gradient(to bottom, #6f00ff, #ff00ff);
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  padding: 20px;
}

.display {
  font-size: 24px;
  margin-bottom: 10px;
  width: calc(100%);
  padding: 10px;
  text-align: right;
  color: white;
  overflow: hidden;
  border: 2px solid white;
  border-radius: 5px;
  box-sizing: border-box;
}

.display span {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  background-color: #e0e0e0;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 0;
  cursor: pointer;
}

button:hover {
  background-color: purple;
  color: #fff;
}

button.operator {
  background-color: #ff9900;
  color: #fff;
}

button.operator:hover {
  background-color: #e68a00;
}

button.clear {
  background-color: #ff3333;
  color: #fff;
}

button.clear:hover {
  background-color: #cc0000;
}

